NEXT_PUBLIC_BASE_URL=YOUR_BASE_URL
DATABASE_URI=YOUR_DATABASE_URI

PAYLOAD_SECRET=YOUR_SECRET_HERE
PAYLOAD_MAX_UPLOAD_SIZE=PAYLOAD_MAX_UPLOAD_SIZE
PAYLOAD_UPLOAD_TIMEOUT=YOUR_PAYLOAD_UPLOAD_TIMEOUT
PAYLOAD_PREVIEW_SECRET=YOUR_PAYLOAD_PREVIEW_SECRET

MINIO_ENDPOINT=MINIO_ENDPOINT
MINIO_ACCESS_KEY=YOUR_MINIO_ACCESS_KEY
MINIO_SECRET_KEY=YOUR_MINIO_SECRET_KEY
MINIO_BUCKET=YOUR_MINIO_BUCKET
MINIO_REGION=YOUR_MINIO_REGION

SMTP_HOST=YOUR_SMTP_HOST
SMTP_PORT=YOUR_SMTP_PORT
SMTP_USER=YOUR_SMTP_USER
SMTP_PASS=YOUR_SMTP_PASS
SMTP_FROM_NAME=YOUR_SMTP_FROM_NAME

DEV_EMAIL=YOUR_DEV_EMAIL
DEV_PASS=YOUR_DEV_PASS